.about-main{
    background-image: url('https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg?w=996&t=st=1707075910~exp=1707076510~hmac=66e452e3921a793cc732eec36465f866aab0f3ecfd9a2a9e19ef7c2ebfa148d7');
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    justify-content: space-between;
    color: white;
    
}
.mission{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 95%;
    margin: 1rem;
    font-size: 1rem;
    overflow: hidden;
    
}
.seeker-storyy{
    margin:1rem 0rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .seeker-storyy{
        flex-direction: column;
        align-content: center;
    }
}